@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.conteiner {
    background-color: rgb(238, 232, 232);
    width: 500px;
    height: 380px;
    margin: auto;
    padding-top: 20px;
}

.conteiner--inner {    
    width: 85%;
    margin: auto;
    height: 300px;
    padding-left:10px ; 
    padding-top:10px ;
    margin-top: 20px;
    background-color:rgb(84, 180, 180);
    border-radius: 3%;
}
.title {
    display: flex;
    align-items: center;
    color: white;
    background-color: chocolate;
    font-size: 13px;
    font-weight: 500;
    width: 300px;
    height: 30px;
    padding-left: 20px;
    position: relative;
    left: -35px;
    text-align: center;
    margin: 10px;
    
}

#NameOnCard  {
    width: 230px;
}

#cardNumber {
    width: 230px;
}
#Month {
    width: 55px;
}
#Year {
    width: 55px;
}
#password {
    width: 55px;
}
.validatyCard {
    display: flex;
    width: 40px; 
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: flex-end;
    margin-top: 20px;
    
}
input {
    height: 30px;
    background-color: rgb(156, 201, 201);
    border: none;
    border-bottom: 1px solid  rgb(72, 94, 94) ;
    margin-left: 20px;
    padding-left: 10px;
}

p {
    margin: 0px;
    padding: 7px;
    font-size: 10px;
    padding-left: 20px ;    
    color: rgb(71, 71, 71);
}
 
img {
    width: 35%;
    position: relative;
    left: 276px;
    top: -150px;
    border-radius:5%  ;
 }
 
 button {
    background-color:rgb(174, 223, 223);
    border: none;
    color: gray;
 }

@media (max-width:1440px) {
   .conteiner {
        width: 800px;
        height: 500px;
        padding-top: 20px;
        margin-top: 30px;
   }
   .conteiner--inner {
        height: 450px;
        padding-left:10px ;        
        margin-top: 10px;
   }
   .title {    
        font-size: 22px;
        font-weight: 500;
        width: 550px;
        height: 50px;
        padding-left: 12px;    
        left: -35px;    
        margin: 10px;
    
    }
    #NameOnCard  {
        width: 350px;
    }

    #cardNumber {
        width: 350px;
    }
    #Month {
        width: 85px;
    }
    #Year {
        width: 85px;
    }
    #password {
        width: 85px;
    }
    .validatyCard {    
        width: 800px;     
        margin-top: 20px;
        
    }
    input {
        height: 50px;
        font-size: 20px;   
        margin-left: 20px;
        padding-left: 10px;
    }

    p {
        font-size: 20px;
        }
    
    img {
        width: 45%;    
        left: 375px;
        top: -307px;
        
    }
    button {
        font-size: 20px;
    }
}

