@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@400;500&display=swap');
* {
    color: black;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

table {
    width: 900px;   
    text-align: center;
    color: black;
    margin: auto;
    padding: 60px;
    /* прибираємо відступ між клітинками*/
    border-collapse: collapse;
    
}

th {
    background-color: rgb(193, 216, 247);   
    font-size: 13px;
    height: 60px;
    border-color:  rgb(193, 216, 247); 

}

.blue_grey {
    background-color: rgb(215, 218, 219);
}


td {
    font-size: 10px;
}